<div id="team" class="teamm">
    
        <div class="container " >
                <ul class="row" style="list-style: none ; text-align: center ;color: black;">
                    <li class="col-md-4">
                           <!-- <IMG SRC="./assets/ss2.gif">
                               <p > نبض الحياه</p> -->
                    </li>
                    <li class="col-md-4">
                           <IMG SRC="./assets/ss2.gif">
                               <p style="font-family: 'Thabit', serif; font-size: 20px; color: black" ><strong> ساعد فى انقاذ انسان </strong></p>
               
                    </li>
                    <li class="col-md-4">
                           <!-- <IMG SRC="./assets/ss2.gif">
                               <p >َمَنْ أَحْيَاهَا فَكَأَنَّمَا أَحْيَا النَّاسَ جَمِيعًا </p>
                -->
                    </li>
                </ul>
                       
                          
                          
               </div>
  <br/><br/><br/><br/><br/>

    <h1 class="text-center" style="font-family: 'Thabit', serif; font-size: 30px; color: black" > <strong> الفريق القائم علي موقع نبض الحياه</strong> </h1> 
      <br/>
      <br/>
        <!-- <div class="line"></div>
    <div class="line1"></div>
        <div class="line2"></div> -->
    <div class="container pt-4">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="./assets/images/img-1.jpg"class="img-fluid">
                <div class="team-content">
                    <h3 class="title">Fatma Fathy</h3>
                    <span class="post">fatma@yahoo.com</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="./assets/images/img-2.jpg" class="img-fluid">
                <div class="team-content">
                    <h3 class="title">Radwa Hamdy</h3>
                    <span class="post">radwa@yahoo.com</span>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="./assets/images/img-3.jpg" class="img-fluid">
                <div class="team-content">
                    <h3 class="title">Esraa Riad</h3>
                    <span class="post">esraa@yahoo.com</span>
                   
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-1">
           
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="./assets/images/img-3.jpg" class="img-fluid">
                <div class="team-content">
                    <h3 class="title">Hadeer Ramadan</h3>
                    <span class="post">hadeer@yahoo.com</span>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="./assets/images/img-1.jpg" class="img-fluid">
                <div class="team-content">
                    <h3 class="title">Samah Mohamed</h3>
                    <span class="post">samah@yahoo.com</span>
                   
                </div>
            </div>
        </div>
        
    </div>
</div>
    
    
    
    </div>