/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/css/bootstrap.min.css";
html{
    scroll-behavior: smooth;
}
body {
    background-image: url("./assets/img-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
  }